<% if flash[:alert] %>
    <div class="alert alert-danger">
        <%= flash[:alert] %>
    </div>
<% end %>
<div class="container text-center mt-2 mb-4">
    <h1>New Application Form</h1>
</div>

<%= render partial: 'form', locals: {
                                    path: "/applications",
                                    method: :post,
                                    button_text: 'Submit'
} %>