<div class="container">
    <div>
        <h1>Admin Pages</h1>
        <h3><a href="/admin/shelters" class="btn btn-success col-3 m-1">View Shelters Admin page</a>
    </div>
    <h2>Pet Applications</h2>
    <div class ="row">
        <%@applications.each do |app|%>
        <a href="/admin/applications/<%=app.id%>" class="btn btn-success col-3 m-2">View <%=app.name %> Form</a>
        <%end%>
    </div>