<div class="container d-none" id="admin_display">
    <div>
        <h1>Admin Pages</h1>
        <h3><a href="/admin/shelters" class="btn btn-success col-3 m-1">View Shelters Admin page</a></h3>
    </div>
    <h2>Pet Applications</h2>
    <div class ="row">
        <%@applications.each do |app|%>
            <a href="/admin/applications/<%=app.id%>" class="btn btn-success col-3 m-2">View <%=app.name %> Form</a>
        <%end%>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const konamiCode = ['ArrowUp', 'ArrowUp', 'ArrowDown', 'ArrowDown', 'ArrowLeft', 'ArrowRight', 'ArrowLeft', 'ArrowRight', 'b', 'a', 'Enter'];

        let currentSequence = [];

        document.addEventListener("keyup", event => {
        currentSequence.push(event.key);

        let match = true;
        for (let i = 0; i < konamiCode.length; i++) {
            if (currentSequence[i] !== konamiCode[i]) {
            match = false;
            break;
            }
        }

        if (match) {
            const adminContainer = document.getElementById("admin_display");
            adminContainer.classList.remove("d-none");

            currentSequence = [];
        } else if (currentSequence.length >= konamiCode.length) {

            currentSequence = [];
        }
        });
    });
</script>